<head>
    <link rel="stylesheet" href="styleProject.css" type="text/css" media="screen" />
</head>


<section class = "portfolio" ng-controller="myCtrl">

    <div class="dropdown">
        <button class="dropbtn">⇩ <span>{{currentTagFilter}}</span> projects</button>
        <div class="dropdown-content">
            <a ng-repeat="tag in tags" ng-click="filterBy({tag})">{{tag}}</a>
        </div>
    </div>

    <article class = "project"  ng-repeat="p in projectFilter">
        <a href= {{p.url}} target = "_blank">
            <h2 class="title"> {{p.name}} </h2> <p class = "date" >{{p.date}}</p>
            <img ng-src= {{p.img}} alt = "Image from the game {{p.name}}" class = "shake">
            <br><p>{{p.description}}</p>
        </a>
        <div class = "tag"> <span ng-repeat="tag in p.tags" ><span ng-click="filterBy({tag})" class = "pTagLink shake-little">{{tag}}</span><span ng-show= !$last>, </span></span></div>
    </article>
</section>
