

body {
    font-family: 'Merriweather';
    font-size: 22px;
    background-color: #2F2E2E;
    color: #7AC2BA;
}

.portfolio {
    padding: 2x 2x;
    margin : auto;
    text-align:center;
   
}

div.project { 
    
    text-align: center;
    display: inline-block;
    text-decoration: none;
/*
    border-width: 10px;
	border-style: solid;
	border-color: #EEEEEE;
*/
    
    border-radius: 5px;
    

    font-size : 17px;
    width: 70%;
    

    background-color: #EEEEEE;
    
	
    align-self: left;
    padding-bottom: 10px;
}



#titleRight {
    text-align: left;
    display: inline-block;
    width: 50%;
    color : #2F2E2E;
}

#titleLeft {
    text-align: right;
    display: inline-block;
    width: 50%;
    color: #2F2E2E;
}

#dateRight {
    text-align: left;
    display: inline-block;
    width: 43%;
    color: #2F2E2E;
    
    padding-left: 3px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #2F2E2E;
    


}

#dateLeft {
    text-align: right;
    display: inline-block;
    width: 43%;
    color: #2F2E2E;
    
    padding-right: 3px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #2F2E2E;

}

div.project p {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    padding-right: 5px;    

    color: #2F2E2E;
    font-family: "Trebuchet MS";
}

div.project #pl {
    color : #2F2E2E;
    padding-right: 10px;  
    padding-left: 0px;
}



div.project a {
    display: run-in;
    text-decoration: none;
    color : #FF6138
}

div.project:hover{
background-color: #dd4a4a
}


div.project img {
    display: inline-block;
    border-color: #2F2E2E;
    border-width: 0px;
    border-style: solid;

    border-radius: 10px;
    width: 50%;
    
    
    vertical-align: middle;
    height: auto;
}

div.project #imgl {
    border-color: #2F2E2E;
}

@media only screen and (orientation: portrait)  {
    div.project {
         width: 100%;
    }
    div.project img {
        width: 90%;
    }
     div.project p {
        width: 90%;
    }
}
