

body {
    font-family: 'Merriweather';
    font-size: 22px;
    background-color: #2F2E2E;
    color: #7AC2BA;
}

.portfolio {
    padding: 2x 2x;
    margin : auto;
    text-align:center;
}

div.project { 
    
    color: cornflowerblue;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-width: 1px;
	border-style: solid;
	border-color: transparent;
    font-size : 13px;
    width: 400px;
	vertical-align: top;
    align-self: center;
    padding-left:15px;
    padding-right:15px;
}



div.project a {
    text-decoration: none;
    color : brown
}

div.project:hover{
border-color: darkgoldenrod;
}


div.project img {

    border-width: 0px;
    width: 100%;

    height: auto;
}
