body {
    font-family: 'Merriweather';font-size: 22px;
}

.project { 
    margin: 0;
    color: cornflowerblue;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-width: 1px;
	border-style: solid;
	border-color: transparent;
    font-size : 70%;
    width: 386px;
	vertical-align: top;
    align-content: center;
    margin-bottom: 15px;
    margin-top: 3px;
}



.project a {
    text-decoration: none;
}


.title {
    margin-top: 2px;
    margin-bottom : 3px;
    text-align: right;
    display: inline-block;
    /*width: 50%;*/
    color: #2F2E2E;
}

.date {

    text-align: left;
    display: inline-block;
    /*width: 43%;*/
    color: #2F2E2E;
    
    padding-left: 3px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #2F2E2E;
    
}


.project:hover{
    background-color: #EEE
}


.project img {

    border-width: 0px;
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.project p {
    text-align: center;
    display: inline;
    vertical-align: middle;
    width: 75%;
    padding-right: 5px; 
 
    color: #2F2E2E;
    font-family: "Trebuchet MS";
   
}



.project .tag {
    color: black;
    font-size: 75%;
}

.pTagLink {
    color: #555;
    font-style: italic;
}

.pTagLink:hover {
    color: #dd4a4a;
    cursor: pointer;
    
}






@media only screen and (orientation: portrait) and (max-width: 783px) {
    .portfolio{
        width:100%;
    }

    .project {
         width: 100%;
    }
    .project img {
        width: 90%;
    }
     .project p {
        width: 90%;
    }
    
   

}
