.centerBox {
/*
    text-align: center;
    align-content: center;
*/
    display: block;
    margin: 0 auto;
    width: 1180px;

}


@media only screen and (min-width: 783px) and (max-width: 1180px) {
    .centerBox {
        width: 783px;
    }
}


@media only screen and (orientation: portrait) and (max-width: 783px) {
    .centerBox{
        width:100%;
    }

}
