body {
    font-family: 'Merriweather';font-size: 22px;
}

.about {
    text-align: center;
    font-size: 16px;
}

.about h1 {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.knowledgeBox {
    display: flex;
}

.knowledgeBox div {
    flex: 1;
}

.about img  {
    margin: 5px;
}

.experiences p{
    margin: 0;
}

.experiences h3{
    margin: 0;
}

.experiences h4{
    margin: 0;
}

.experiences div {
    margin-bottom: 20px;
}

