body {
    font-family: 'Merriweather';font-size: 22px;
}

.about {
    text-align: center;
    font-size: 16px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #5555;
}

.about h1 {
    text-align: center;
    color: #dd4a4a;
    margin-bottom: 0;
}

.about a {
    text-decoration: underline;
}

.descriotion a {
    color: #dd4a4a;
}
.about h2 {
     color: #dd4a4a;
}

.knowledgeBox {
    display: flex;
}

.knowledge div {
    flex: 1;
}

.about img  {
    margin: 5px;
}

.experiences p{
    margin: 0;
}

.experiences h3{
    margin: 0;
}

.experiences h4{
    margin: 0;
    color: #433;
}

.experiences a {
    color: inherit;
}

.experiences div {
    margin-bottom: 20px;
}

.heart{
    color: red;
}

.justified {
    text-align: justify;
}
