footer {
    font-size: 12px;
    text-align: center;
}

.contact {
    color: black;
    
    /*width: 205px;
    text-align: left;*/
    
    width: 100%;
    text-align: center;
    margin: auto;

}

.contactContent {
    display:inline-block;
    margin-right: 5px;
}

.imgContact {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.textContact {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
}
.contact p {
    display: block;
    margin: 0;
}

footer a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.credits {
    font-size: 8px;
}
.credits a {
    text-decoration: underline;
}


@media only screen and (orientation: portrait) and (max-width: 783px) {


}