

body {
    font-family: 'Merriweather';
    font-size: 22px;
    background-color: #2F2E2E;
    color: #7AC2BA;
}

.portfolio {
    padding: 2x 2x;
    margin : auto;
    text-align:center;
   
}

div.project { 
    
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-width: 10px;
	border-style: solid;
	border-color: #EEEEEE;
    

    font-size : 17px;
    width: 70%;
    
    padding-right: 15px;
    padding-bottom: 25px;
    background-color: #2F2E2E;
    
	
    align-self: left;
}

#projectL {
    background-color: #EEEEEE;
    
}

#titleRight {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    color : #2F2E2E;
}

#titleLeft {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    color: #EEEEEE;
}

#dateRight {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    color: #EEEEEE;

}

#dateLeft {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    color: #2F2E2E;
}

div.project p {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    padding-right: 5px;    

    color: #EEEEEE;
}

div.project #pl {
    color : #2F2E2E;
    padding-right: 10px;  
    padding-left: 0px;
}



div.project a {
    text-decoration: none;
    color : #FF6138
}

div.project:hover{
border-color: darkgoldenrod;
    
}


div.project img {
    display: inline-block;
    border-color: #EEEEEE;
    border-width: 0px;
    border-style: solid;

    border-radius: 5px;
    width: 50%;
    
    vertical-align: middle;
    height: auto;
}

div.project #imgl {
    border-color: #2F2E2E;
}
